<div class="resumen">
  <!-- KPIs -->
  <section class="kpis" *ngIf="!loading; else skeleton">
    <article class="kpi">
      <div class="kpi__label">Ingresos mes</div>
      <div class="kpi__value">{{ ingresosMes | currency:'MXN':'symbol-narrow':'1.0-0' }}</div>
    </article>
    <article class="kpi">
      <div class="kpi__label">Egresos mes</div>
      <div class="kpi__value">{{ egresosMes | currency:'MXN':'symbol-narrow':'1.0-0' }}</div>
    </article>
    <article class="kpi kpi--balance">
      <div class="kpi__label">Balance</div>
      <div class="kpi__value">{{ balanceMes | currency:'MXN':'symbol-narrow':'1.0-0' }}</div>
    </article>
  </section>

  <!-- Charts -->
  <section class="charts" *ngIf="!loading">
    <mat-card class="card card--line">
      <mat-card-title>
        Ingresos vs Egresos
        <span class="spacer"></span>
      </mat-card-title>

      <mat-button-toggle-group [value]="range" (change)="setRange($event.value)" exclusive>
        <mat-button-toggle value="3m">3m</mat-button-toggle>
        <mat-button-toggle value="6m">6m</mat-button-toggle>
        <mat-button-toggle value="12m">12m</mat-button-toggle>
      </mat-button-toggle-group>

      <div class="chart">
        <canvas baseChart [data]="lineData" [options]="lineOptions" [type]="mainChartType">
        </canvas>
      </div>
    </mat-card>

    <mat-card class="card card--bar">
      <mat-card-title>Por categoría (Ingresos · mes)</mat-card-title>
      <div class="chart">
        <canvas baseChart [data]="barIngresoData" [options]="barOptions" type="bar"></canvas>
      </div>
    </mat-card>

    <mat-card class="card card--bar">
      <mat-card-title>Por categoría (Egresos · mes)</mat-card-title>
      <div class="chart">
        <canvas baseChart [data]="barEgresoData" [options]="barOptions" type="bar"></canvas>
      </div>
    </mat-card>
  </section>


  <!-- Recientes -->
  <section class="recientes" *ngIf="!loading">
    <h3>Últimos movimientos</h3>
    <mat-list>
      <mat-list-item *ngFor="let m of recientes">
        <mat-icon matListItemIcon>{{ m.tipo === 'ingreso' ? 'arrow_downward' : 'arrow_upward' }}</mat-icon>
        <div matListItemTitle>{{ m.categoria }}</div>
        <div matListItemLine>{{ m.fecha | date:'dd MMM, HH:mm' }}</div>
        <div class="amount" [class.neg]="m.monto<0">{{ m.monto | currency:'MXN':'symbol-narrow':'1.0-0' }}</div>
      </mat-list-item>
    </mat-list>
  </section>

  <ng-template #skeleton>
    <div class="skeleton"></div>
  </ng-template>
  <div style="height: 30px;"></div>
</div>